Repository legitbrainrot/app: changes, and which lint-staged commands are due for each by the changed paths.
All: biome format --write --no-errors-on-unmatched, biome check --write --no-errors-on-unmatched, bash -c 'npm run typecheck'

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,json,md}": [
    "biome format --write --no-errors-on-unmatched",
    "biome check --write --no-errors-on-unmatched"
  ],
  "*.{ts,tsx}": ["bash -c 'npm run typecheck'"]
}

Update .gitignore
  .gitignore
Due: none

add postinstall
  .env.example
  package.json
Due: biome format --write --no-errors-on-unmatched, biome check --write --no-errors-on-unmatched

add prisma dev dependencies
  package.json
  pnpm-lock.yaml
Due: biome format --write --no-errors-on-unmatched, biome check --write --no-errors-on-unmatched

add prisma dev dependencies
  middleware.ts
Due: biome format --write --no-errors-on-unmatched, biome check --write --no-errors-on-unmatched, bash -c 'npm run typecheck'

enhnace ui
  middleware.ts
  next.config.ts
  prisma/migrations/20250925161101_init_db/migration.sql
  prisma/migrations/20250925180447_add_roblox_username/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
  src/app/api/auth/update-profile/route.ts
  src/app/auth/sign-in/page.tsx
  src/app/auth/sign-up/page.tsx
  src/app/dashboard/page.tsx
  src/app/page.tsx
  src/app/support/page.tsx
  src/app/trade/[id]/page.tsx
  src/app/trade/page.tsx
  src/app/trade/publish/page.tsx
  src/app/trade/room/[id]/page.tsx
  src/app/trade/search/page.tsx
  src/app/trades/publish/page.tsx
  src/app/trades/room/[id]/page.tsx
  src/app/trades/search/page.tsx
  src/components/faq.tsx
  src/components/navigation.tsx
  src/components/ui/textarea.tsx
  src/lib/auth-client.ts
  src/lib/auth.ts
Due: biome format --write --no-errors-on-unmatched, biome check --write --no-errors-on-unmatched, bash -c 'npm run typecheck'

changing workflow
  .env.example
  middleware.ts
  package.json
  pnpm-lock.yaml
  prisma/schema.prisma
  src/app/api/auth/[...better-auth]/route.ts
  src/app/api/auth/update-profile/route.ts
  src/app/api/checkout/route.ts
  src/app/api/webhooks/stripe/route.ts
  src/app/auth/sign-in/page.tsx
  src/app/page.tsx
  src/app/servers/[serverId]/request/page.tsx
  src/app/servers/page.tsx
  src/app/success/page.tsx
  src/app/trade/[id]/page.tsx
  src/app/trade/page.tsx
  src/app/trade/publish/page.tsx
  src/app/trade/room/[id]/page.tsx
  src/app/trade/search/page.tsx
  src/components/navigation.tsx
  src/lib/auth-client.ts
  src/lib/auth.ts
  src/lib/email.ts
  src/lib/mock-data.ts
  src/lib/prisma.ts
  src/lib/stripe.ts
Due: biome format --write --no-errors-on-unmatched, biome check --write --no-errors-on-unmatched, bash -c 'npm run typecheck'

add stripe payment
  compose.yml
  package.json
  pnpm-lock.yaml
  src/app/api/checkout/route.ts
  src/app/api/webhooks/stripe/route.ts
  src/app/servers/[serverId]/request/page.tsx
  src/app/servers/page.tsx
  src/app/success/page.tsx
  src/lib/email.ts
  src/lib/mock-data.ts
  src/lib/stripe.ts
Due: biome format --write --no-errors-on-unmatched, biome check --write --no-errors-on-unmatched, bash -c 'npm run typecheck'

change price
  src/lib/email.ts
  src/lib/mock-data.ts
Due: biome format --write --no-errors-on-unmatched, biome check --write --no-errors-on-unmatched, bash -c 'npm run typecheck'

PUSH
  public/.png
  public/logo.png
  public/web-app-manifest-192x192.png
  public/web-app-manifest-512x512.png
  src/app/apple-icon.png
  src/app/favicon.ico
  src/app/globals.css
  src/app/icon0.svg
  src/app/icon1.png
  src/app/manifest.json
  src/app/page.tsx
  src/app/servers/[serverId]/request/page.tsx
  src/app/servers/page.tsx
  src/app/success/page.tsx
  src/app/support/page.tsx
  src/components/faq.tsx
  src/components/footer.tsx
  src/components/live-activity.tsx
  src/components/navigation.tsx
  src/lib/mock-data.ts
Due: biome format --write --no-errors-on-unmatched, biome check --write --no-errors-on-unmatched, bash -c 'npm run typecheck'

change name serveur
  src/lib/mock-data.ts
Due: biome format --write --no-errors-on-unmatched, biome check --write --no-errors-on-unmatched, bash -c 'npm run typecheck'

fix price
  src/app/servers/page.tsx
Due: biome format --write --no-errors-on-unmatched, biome check --write --no-errors-on-unmatched, bash -c 'npm run typecheck'

add discord link
  src/app/page.tsx
  src/components/footer.tsx
Due: biome format --write --no-errors-on-unmatched, biome check --write --no-errors-on-unmatched, bash -c 'npm run typecheck'

change wording
  src/app/page.tsx
  src/app/servers/[serverId]/request/page.tsx
  src/app/servers/page.tsx
  src/app/success/page.tsx
  src/components/faq.tsx
  src/lib/mock-data.ts
Due: biome format --write --no-errors-on-unmatched, biome check --write --no-errors-on-unmatched, bash -c 'npm run typecheck'

remove escrow service
  src/app/page.tsx
  src/components/faq.tsx
Due: biome format --write --no-errors-on-unmatched, biome check --write --no-errors-on-unmatched, bash -c 'npm run typecheck'

no remboursement
  src/app/servers/[serverId]/request/page.tsx
Due: biome format --write --no-errors-on-unmatched, biome check --write --no-errors-on-unmatched, bash -c 'npm run typecheck'

change wording
  src/app/api/checkout/route.ts
  src/app/layout.tsx
  src/app/page.tsx
  src/app/servers/[serverId]/request/page.tsx
  src/app/servers/page.tsx
  src/app/success/page.tsx
  src/app/support/page.tsx
  src/components/faq.tsx
  src/components/footer.tsx
  src/components/live-activity.tsx
  src/components/navigation.tsx
  src/lib/email.ts
  src/lib/mock-data.ts
Due: biome format --write --no-errors-on-unmatched, biome check --write --no-errors-on-unmatched, bash -c 'npm run typecheck'

add robots + sitemap + ga
  .env.example
  .mcp.json
  CLAUDE.md
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
  src/app/robots.ts
  src/app/sitemap.ts
Due: biome format --write --no-errors-on-unmatched, biome check --write --no-errors-on-unmatched, bash -c 'npm run typecheck'

add icon
  src/app/icon.png
  src/app/icon0.svg
Due: none
